<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>10 Important Selectors</title>
</head>
<body>
    <div class="container">
        Article: <a href="http://www.webdesignerdepot.com/2013/08/10-css-selectors-you-shouldnt-code-without/">10 CSS Selectors You Shouldn't Code Without</a>
        
        <div id="header">
            <h1>What are you doing here without Dorinda?</h1>
            <p>It's raining in Seattle</p>
            <p>Hey hey what do you say</p>
            <p>Rain Rain go away</p>
            <p>River wants to play today! We'll get our raincoat and rainboots</p>
        </div>
        <div id="main" >
            <!-- below is to show list items with ul -->
            <h3>Favorites</h3>
            <ul>
                <li> favorite animals:
                    <ul>
                        <li>cow</li>
                        <li>cat</li>
                        <li>squirl</li>
                        <li>bird</li>
                    </ul>
                </li>
                <li>Ice Cream: Mint Chocolate chip</li>
                <li>Summertime</li>
                <li>Colors</li>  
            </ul>
            <form action="">
                <button>Click</button>
            </form>
            <p>Here's another paragraph to play with background colors Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius omnis, suscipit neque inventore illum voluptate enim porro ab debitis iure ipsum aliquam qui architecto, sed eos labore excepturi. Expedita, minus.</p>
        </div>
        <div id="footer">
            <h4>That's all Folks</h4>
            <div class="animation">:)</div>
            <div class="bye">Bye Bye</div>
        </div>
        <h1>This was fun, let's do it again!</h1>
        
        
    </div>
    
</body>
</html>